# Created by .ignore support plugin (hsz.mobi)

/.idea/
FileServer.iml
static/tmp/MP_verify_xoMgz6gYRowIOMPe.txt
static/tmp/app.c8a7f5da.js
static/tmp/microsoftedgesetup-latest.7z
"static/tmp/\346\226\260\345\273\272\346\226\207\346\234\254\346\226\207\346\241\243 (2).txt"
/static/tmp/新建文本文档 (2).txt
